<!doctype html> 
<html> 

<head>
  <meta charset="utf-8">
  <title>GW2API - AngularJS</title>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.3/coffee-script.min.js"></script>
  <script type="text/coffeescript" src="script.coffee"></script>
  <style>
    .infos {
      font-size: 0.8em;
      margin-top: 1em;
    }
    .event {
      color: #cccccc;
    }
    .event.state_active {
      color: orange;
      font-size: 1.2em;
      font-weight: bold;
    }
    #wvw table td {
      text-align: right;
    }
  </style>
</head> 

<body ng-controller="gw2Ctrl">
  <div class="container">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="brand">Guild Wars 2 API + AngularJS (BETA I suppose)</a>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <label for="world_select">World</label>
        <select id="world_select" ng-model="worldId" ng-options="world.id as world.name for world in worlds | orderBy:'name'"></select>

        <label for="interval_select">Refresh every</label>
        <select id="interval_select" ng-model="interval">
          <option value="10000">10s</option>
          <option value="30000">30s</option>
          <option value="60000">1min</option>
          <option value="300000">5min</option>
          <option value="0">... time I hit the refresh button</option>
        </select>

        <button class="btn" ng-click="refresh()">Refresh</button>

        <button class="btn btn-primary" ng-click="toggleEventNotifications()" ng-disabled="!desktopNotificationsCapable()" title="Desktop notifications, webkit only">{{ isEventNotificationsEnabled() && 'Disable notifications' || 'Can I Has Notify?' }}</button>

        <p class="infos">
          Select a world, a refresh interval (or not) and that's it. If you have a Webkit browser (Chrome or Safari) and don't play fullscreen, you can also receive desktop notifications for "Active" dragon events by pressing the big blue button.
        </p>
        <hr>
        <p class="infos">
          <a href="https://github.com/AlSquire/GW2Dash" target="_blank">Source and issues</a> -
          <a href="https://forum-en.guildwars2.com/forum/community/api/AngularJS-example/" target="_blank">GW2 forum's thread</a>
           <br>
          By AlSquire.9203 (donations of silvers, minis, precursors, pictures of quaggans... are welcomed)
        </p>
      </div>

      <section id="wvw" class="span4">
        <h2>WvW score</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Red:<br> {{redWorld.name}}</th>
              <th>Blue:<br> {{blueWorld.name}}</th>
              <th>Green:<br> {{greenWorld.name}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>EB</th>
              <td>{{redWorld.score['Center']}}</td>
              <td>{{blueWorld.score['Center']}}</td>
              <td>{{greenWorld.score['Center']}}</td>
            </tr>
            <tr>
              <th>Red</th>
              <td>{{redWorld.score['RedHome']}}</td>
              <td>{{blueWorld.score['RedHome']}}</td>
              <td>{{greenWorld.score['RedHome']}}</td>
            </tr>
            <tr>
              <th>Blue</th>
              <td>{{redWorld.score['BlueHome']}}</td>
              <td>{{blueWorld.score['BlueHome']}}</td>
              <td>{{greenWorld.score['BlueHome']}}</td>
            </tr>
            <tr>
              <th>Green</th>
              <td>{{redWorld.score['GreenHome']}}</td>
              <td>{{blueWorld.score['GreenHome']}}</td>
              <td>{{greenWorld.score['GreenHome']}}</td>
            </tr>
            <tr>
              <th>Total</th>
              <td>{{redWorld.score['Total']}}</td>
              <td>{{blueWorld.score['Total']}}</td>
              <td>{{greenWorld.score['Total']}}</td>
            </tr>
          </tbody>
        </table>
      </section>

      <section id="watched_events" class="span4">
        <h2>Dragons watcher</h2>
        <ul>
          <li ng-repeat="e in watchedEvents | orderBy:['state', 'name']" class="event state_{{e.state | lowercase}}">
        {{e.name}}
          </li>
        </ul>
      </section>
    </div>
  </div>

</body>
</html>